*{
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;

}


.reg-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: fixed;
    inset: 0px;
    width:400px;
    max-width: 100vw;
    height: fit-content;
    margin: auto;
    border-radius: 25px;
   background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.9px);
-webkit-backdrop-filter: blur(2.9px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.register-now{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
    color: white;
    font-size: 18px;
}.register-now a{
    text-decoration: none;
    color: rgb(0, 136, 255);
}
.text{
    font-size: 72px;
    font-weight: bolder;
    padding-bottom: 50px;
    color: #ffffff;
 

}
.input input::placeholder{
    font-size: 22px;
    font-size: bold;
    text-align: center;
    color: rgb(255, 255, 255);

}
.input input{
    height: 40px;
    font-size: 22px;
    width: 300px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-bottom: 10px;
    border: none;
    


}.submit-container{
   
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: 10px;
    border-radius: 50px;
    background-color: #4c00b4;
    width: 200px;
    height: 52px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s ease;
}
button:active{
    transform: scale(.9);
}
.grey{
    background-color: grey;
}
@media (max-width: 768px) {

body{
background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

     
}
.reg-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: fixed;
    inset: 0px;
    width:300px;

    height: fit-content;
    margin: auto;
    border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.9px);
-webkit-backdrop-filter: blur(2.9px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.text{
    font-size: 52px;
    font-weight: bolder;
    padding-bottom: 50px;
    color: #ffffff;
 

}
.input input::placeholder{
    font-size: 22px;
    font-size: bold;
    text-align: center;
    color: rgb(255, 255, 255);

}
.input input{
    height: 40px;
    font-size: 22px;
    width: 200px;
    border-radius: 10px;
     background: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-bottom: 10px;
    border: none;
    


}.submit-container{
   
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: 10px;
    border-radius: 50px;
    background-color: #4c00b4;
    width: 200px;
    height: 52px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s ease;
}
button:active{
    transform: scale(.9);
}
.grey{
    background-color: grey;
}
}
