
.admin-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 20px;
    width: 30%;
    border-radius: 15px;
    background-color: rgba(0, 80, 80, 0.324);
}
.card input{
    width: 50%;
    border-radius: 5px;
    background-color: rgba(231, 231, 231, 0.691);
    text-align: center;
    margin-bottom: 15px;
    height: 40px;
    font-size: 20px;
}
.card p{

    text-align: center;
    margin-bottom: 15px;
    height: 40px;
    font-size: 25px;
}
.card h2{
    font-size: 30px;
}
@media (max-width: 768px) {
.admin-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    width: 100%;

}
.admin-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;

}
.card{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.card input{
    width: 85%;
    height: 20%;
}
}