*{
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;

}
.car-card img{
width: clamp(100px, 20vw, 200px);
  height: clamp(100px, 20vw, 200px);
padding: 15px;



}
.car-cards{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.car-card h4{
    position: relative;
    top:-60px;
    font-size: clamp(24px, 5vw, 55px);

}
.car-card p{
    position: relative;
     top:-160px;
     font-size: clamp(16px, 4vw, 40px);
}
.car-card{
    display: flex;
    flex-direction: column;
    margin: 0px;
    transition: all .2s;
    background-color: rgba(34, 34, 34, 0.326);
    border-radius: 15px;
    height: 400px;


}
.car-card:hover{

    transform: scale(1.14);
    cursor: pointer;
}

@media (max-width: 768px){
    .car-cards{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.car-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    width: 15rem;
    background-color: rgba(34, 34, 34, 0.326);
    border-radius: 15px;


}
.car-card h4{
    font-size: clamp(24px, 5vw, 55px);
    position: relative;
    top:-50px
}
.car-card p{
    font-size: clamp(24px, 5vw, 55px);
    position: relative;
    top:-50px
}

}